:root {
	/* Colors */
	--background: #010316;
	--foreground: #eeeeee;
	--card-blue: #13132d;
	--dark-blue: #040210;
	--purple: #3540e8;
	--pink: #e41ad6;
	--soft-orange: #feebcb;
	--orange: #dd6b20;
	--red: #d61f3f;

	/* Fonts */
	--font-xxs: 11px;
	--font-xs: 13px;
	--font-sm: 14px;
	--font-md: 16px;
	--font-lg: 18px;
	--font-xl: 20px;
	--font-2xl: 24px;
	--font-3xl: 30px;
	--font-4xl: 36px;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-roboto), sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

fieldset {
	border: none;
}

li {
	list-style: none;
}

.site-container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0 auto;
}

.page-container {
	max-width: 100vw;
	padding: 0 20px;
}

.purplePinkGradient {
	background: linear-gradient(90deg, var(--purple), var(--pink));
}

.customScroll {
	overflow: scroll;
	scrollbar-color: var(--background) var(--card-blue);
	scrollbar-width: thin;
}

.loaderSpin {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (width >= 768px) {
	.page {
		padding: 0 32px;
	}

	:root {
		--font-xs: 14px;
		--font-sm: 16px;
		--font-md: 18px;
		--font-lg: 20px;
		--font-xl: 24px;
		--font-2xl: 30px;
		--font-3xl: 36px;
		--font-4xl: 48px;
	}
}
