.error {
	margin-left: 8px;
	position: relative;
	font-size: var(--font-xs);
	color: var(--red);
}

.error::before {
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: var(--red);
	position: absolute;
	left: -8px;
	bottom: 50%;
	transform: translateY(50%);
}
